# Easier navigation: .., ..., ~ and -
alias cd..='cd ..'
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# be nice
alias hosts='sudo $EDITOR /etc/hosts'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias lsa="exa --long --header --git --all"
# List only directories
alias lsd="lsa --only-dirs"

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
  alias ls="command ls -G"
else
  alias ls="command ls --color"
  export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# GIT STUFF
alias g="git"
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
alias gs="git status"
alias gc="git commit -m "
alias gp="git pull"
alias gpp="git pp"
alias gfp="git fp"
alias gf="git fetch -p"
alias gfp="git fp"

alias ts="tig status"
alias lg="lazygit"

# Prettify json
alias json-pretty="python -m json.tool"

# IP addresses
alias myip="curl -s ipinfo.io | jq -r .ip"
alias localip="ifconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias ipinfo="curl ipinfo.io/$1"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"
alias whois-ip="/usr/bin/whois -h whois.ripe.net -V Md5.5.10 $1"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Trim new lines and copy to clipboard
alias trimcopy="tr -d '\n' | copy"

# Recursively delete `.DS_Store` files
alias cleanup_ds_store="find . -name '*.DS_Store' -type f -ls -delete"

# Some other Shortcuts
alias vim="nvim"
alias v="nvim"
alias e="nvim -c 'startinsert'"
alias edit="nvim"
alias cls='clear'
alias ccat="pygmentize -O style=monokai -f console256 -g"
alias rd="rm -rf" # Remove directories without asking me
alias rm="rm -f" # Remove files without asking me
alias mkd="mkdircd"

# Yarn aliases
alias y="yarn"
alias yi="yarn install --pure-lockfile"
alias yl="yarn lint"
alias ys="yarn start"
alias yt="yarn test"
alias ytw="yarn test:watch"
alias yui="yarn upgrade-interactive --latest"
alias yd="yarn debug"

# goto my folders
alias wiki='cd ~/Projects/wiki'
alias blog='cd ~/Projects/WebSites/blog'
alias mh='cd ~/Projects/WebSites/myhomepage'
alias pr='cd ~/Projects'
alias mdw='cd ~/Projects/mdwiki'
alias mdwiki='cd ~/Projects/mdwiki'
alias dotfiles='cd ~/Projects/dotfiles'
alias dockerfiles='cd ~/Projects/dockerfiles'
alias howcani='cd ~/Projects/howcani'
alias mykatas='cd ~/Projects/Katas/MyKatas'
alias notes="cd ~/SynologyDrive/Notes"
alias mymusic="cd ~/Projects/mymusic"

if [ $UID -ne 0 ]; then
  alias reboot='sudo reboot'
  alias update='sudo apt-get upgrade'
fi

# aliases for my own functions
alias runTests=watchTests

# Run tmux with a predefined set
alias devmux='tmux -f ~/.dev.tmux.conf attach'
alias tmuxexit='tmux kill-server'
alias mux='tmux new -d -s delete-me && tmux run-shell ~/.tmux/plugins/tmux-resurrect/scripts/restore.sh && tmux kill-session -t delete-me && tmux attach || tmux attach'
alias exitall=tmuxexit

alias reload="source ~/.zshrc"

# some aliases for go development
alias got='go test -v ./... | sed ''/PASS/s//$(printf "\033[32mPASS\033[0m")/'' | sed ''/FAIL/s//$(printf "\033[31mFAIL\033[0m")/'''
alias godoc-local="godoc -http :9000"

# some js aliases
alias lint="eslint ./"

# ranger
alias r="ranger"
alias rcd='ranger --choosedir=$HOME/rangerdir; LASTDIR=`cat $HOME/rangerdir`; cd "$LASTDIR"'

# mount and unmount JABASOFT-DS
alias mount-nas="~/bin/mount-nas.sh"
alias unmount-nas="~/bin/unmount-nas.sh"

# translate from English to German from the commandline
# You need to install "npm install -g google-translate-cli" before
alias ten="translate -s en -t de "
alias tde="translate -s de -t en "

# Installing or updating go with this onliner
alias serve-godoc="godoc -http=:8000"

# Sometimes we need to start the ssh-agent manually
alias start-ssh-agent="eval \"$(ssh-agent)\""

# Some aliases for starting Docker containers with just one command
alias glances="docker run --rm -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host --network host -it --name=glances docker.io/nicolargo/glances"

# Download youtube file from the commandline
alias ydl="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'"
alias ydla="yt-dlp --audio-format mp3 -x"

# Show my wallpapers in sxiv
alias ww="cd ~/wallpaper && nsxiv -tf *.jpg && cd -"

# Show all images of the current directory in a slideshow
alias slideshow="nsxiv -f -S 2 *.*"

# Run Portainer on localhost:9000 without any password to manage my local Docker env
alias portainer="docker run --rm -d -p 9000:9000 --name=portainer -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer:1.25.0 --no-auth"
alias sen="docker run --rm --name=sen -v /var/run/docker.sock:/run/docker.sock -ti -e TERM tomastomecek/sen"

# Alias for the function make-slides
alias make-presentation="make-slides"

# Alias for slowtype.sh from Klaus Knopper
alias slowtype="slowtype.sh -n"

# Shows a fzf based list with all man-pages and gives the user the ability to search for it an select one
alias man-fzf="man -k . | sort -r | fzf | awk '{print $1}' | xargs -r man "

# Clearing the cliphist database
alias clear-clip-history="rm $HOME/.cache/cliphist/db"

# You need to install xsel with apt-get before using it
alias copy='wl-copy'
alias paste='wl-paste'

# Sometimes we need to start the ssh-agent manually
alias start-ssh-agent="eval \"$(ssh-agent)\""

# aliases for pacman
alias pacman-upgrade-all="sudo pamac upgrade -a"
alias pacman-install="sudo pamac install --noconfirm $1"
alias pacman-search="pacman search -a $1"
alias pacman-remove="sudo pamac remove --noconfirm $1"

# generate a password with a length of 20 characters from the commandline
alias passwd-gen="pwgen 20 1"

# Add aliases for file-types
alias -s {md,txt,js,css,html}="nvim"
alias -s {png,jpg,jpeg}=eog

# Helpful aliases for Kubernetes
alias kbb="kubectl run busybox --image=yauritux/busybox-curl --rm -it --restart=Never /bin/sh"
alias kalpine="kubectl run alpine --image=alpine --rm -it --restart=Never /bin/sh"
alias kerrorevents="kubectl get events --field-selector type!=Normal -A"

# Alias for viewing markdown files in the terminal
alias md=glow

# Alias for using molecule
alias mo="molecule"

# Aliases for Helix
alias hx="helix"

# Change theme for my terminal interactively
alias kt="kitty +kitten themes"

# Some Rust specific aliases
alias cg="cargo"
alias cgb="cargo build"
alias cgc="cargo check"
alias cgcl="cargo clippy"
alias cgr="cargo run"
alias cgt="cargo test"
alias cgw="cargo watch"
alias cgwt="cargo watch -x test"
