{

"env": {
    "browser": true,
    "es6": true,
    "node": true
},

"rules": {
    "block-scoped-var": 0,
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "camelcase": 0,
    "comma-dangle": 0,
    "comma-style": [2, "last"],
    "complexity": [1, 10],
    "computed-property-spacing": [2, "never"],
    "consistent-return": 0,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "indent": [1, 2],
    "key-spacing": 0,
    "max-len": [1, 110, 2],
    "max-nested-callbacks": [2, 3],
    "max-params": [1, 4],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "no-bitwise": 2,
    "no-caller": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 0,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-irregular-whitespace": 2,
    "no-lonely-if": 2,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 2,
    "no-nested-ternary": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-underscore-dangle": 0,
    //"no-var": 2,
    "no-void": 2,
    "no-with": 2,
    "object-shorthand": [2, "methods"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "prefer-const": 2,
    "quotes": [1, "single", "avoid-escape"],
    "radix": 2,
    "keyword-spacing": 1,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-comment": [2, "always"],
    // "strict": [2, "never"],
    "use-isnan": 2,
    "valid-jsdoc": [2, {
        "prefer": { "returns": "return" },
        "requireParamDescription": false,
        "requireReturn": false,
        "requireReturnDescription": false,
      }
    ],
    "valid-typeof": 2,
    "wrap-iife": [2, "outside"],
    "yoda": 2,
}

}
