# for some reason my USER=mike by default
export USER=mcuoco

# add homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

# export packages to PATH
export PATH=$PATH:~/code/bin

#iTerm2 integration
test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"

# Convinience variables
export DATE=$(date "+%Y-%m-%d%n")

# tell apple to shutup about zsh
export BASH_SILENCE_DEPRECATION_WARNING=1

# cromwell jar
export CROMWELL_JAR="/opt/homebrew/Cellar/cromwell/78/libexec/cromwell.jar"
