# for some reason my USER=mike by default
export USER=mcuoco

# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

# export packages to PATH
PATH=$PATH:~/code/bin
PATH=$PATH:~/code/git-fuzzy/bin

## from old .bash_profile:
#export PATH="/usr/local/opt/ruby/bin:$PATH"
#export PATH=$HOME/.gem/ruby/2.6.0/bin:$PATH
#export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"
#export PATH="$PATH:/Users/mcuoco/Library/Python/2.7/bin"

# Aliases
alias python=python3

#iTerm2 integration
test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"

# Convinience variables
export DATE=$(date "+%Y-%m-%d%n")

# tell apple to shutup about zsh
export BASH_SILENCE_DEPRECATION_WARNING=1
