[submodule ".vim/bundle/clojure.vim"]
	path = .vim/bundle/clojure.vim
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim
[submodule ".vim/bundle/histwin.vim"]
	path = .vim/bundle/histwin.vim
	url = https://github.com/chrisbra/histwin.vim
[submodule ".vim/bundle/pastie.vim"]
	path = .vim/bundle/pastie.vim
	url = https://github.com/tpope/vim-pastie
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/wycats/nerdtree
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/vim-bookmarks"]
	path = .vim/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/Vim-fugitive
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim.unimpaired"]
	path = .vim/bundle/vim.unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-coloresque"]
	path = .vim/bundle/vim-coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = git@github.com:walm/jshint.vim.git
[submodule ".vim/bundle/vim-js2coffee"]
	path = .vim/bundle/vim-js2coffee
	url = https://github.com/JarrodCTaylor/vim-js2coffee
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-jsbeautify"]
	path = .vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
