# This is intended as GLOBAL ~/.gitignore, not just this dotfiles repo. (But.. it's both.)

# I like having a personal readme file to keep notes.
PAUL.readme.md

# git credential file
.gitconfig.local

# Nice and clean by default, but this does create a problem if I don't add into new repos gitignore and other folks dont have the same default.  problems when other folks don't have the same in their global gitignore.  
node_modules

# why u be like that
.DS_Store