# copy to ~/.ssh/config

Host *
    # Use a shared channel for all sessions to the same host,
    # instead of always opening a new one. This leads to much
    # quicker connection times.
    ControlMaster auto
    ControlPath ~/.ssh/control/%C
    ControlPersist 1800

    # Personal preference but with 'no', the OS won't kill the socket during a temporary outage
    TCPKeepAlive no 
    # Also this stuff
    Compression yes
    ServerAliveInterval 30
    ServerAliveCountMax 6
