snippet if
	if ${1} {${0}}
snippet test
	func Test_${1}(t *testing.T) {${0}
	}
snippet given
	Convey("Given ${1}", t, func() {${0}
	})
snippet when
	Convey("When ${1}", t, func() {${0}
	})
snippet it
	Convey("It should ${1}", func() {${0}
	})
snippet so
	So(${1}, Should${2}, ${3})

