* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
  border-bottom: 1px solid #282828;
  color: #f4d9e1
}

#workspaces {
  background: #282828;
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 16px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: #928374;
}

#workspaces button.active {
  color: #f4d9e1;
  background-color: transparent;
  border-radius: 16px;
}

#workspaces button:hover {
  background-color: #E6B9C6;
  color: black;
  border-radius: 16px;
}

#custom-date, #clock {
  background: transparent;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 8px;
  border: solid 0px #f4d9e1;
}

#custom-date {
  color: #D3869B;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#tray {
  background: #282828;
  margin: 5px 5px 5px 5px;
  border-radius: 16px;
  padding: 0px 5px;
  border-right: solid 1px #282738;
}

#clock {
  color: #E6B9C6;
  background-color: #282828;
  border-radius: 0px 0px 0px 24px;
  padding-left: 13px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  /*border-left: solid 1px #282738;*/
}


#backlight {
  background-color: #24283b;
  color: #db4b4b;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}

#custom-launcher button:hover {
  background-color: #FB4934;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#pulseaudio, #network, #temperature, #memory, #cpu, #disk, #battery, #custom-wallpaper, #custom-cliphist, #custom-updates {
  background-color: #282828;
  /*color: #8EC07C;*/
  border-radius: 16px;
  margin: 3px;
  padding: 0px 8px 3px 8px;
  font-weight: bold;
}

#pulseaudio.muted {
  background: transparent;
  color: #928374;
  border-radius: 8px;
  margin-left: 0px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

