
! calm by dkeg

*foreground:  #adb7c1
*background: #1a1b1d

*color0: #1d1f21
*color1: #ab6548
*color2: #88aa55
*color3: #8e6b23
*color4: #446688
*color5: #f9f9f9
*color6: #558888
*color7: #aabbcc
*color8: #445566
*color9: #dd7777
*color10: #bbdd88
*color11: #ccb05f
*color12: #7799bb
*color13: #abacae
*color14: #88bbbb
*color15: #ddeeff

! Fonts {{{
 Xft.antialias: true
 Xft.hinting:   true
 Xft.rgba:      rgb
 Xft.hintstyle: hintfull
 Xft.dpi:      192 
 Xcursor.size: 64
! }}}


